---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Title.astro";
import PostList from "../../components/PostList.astro";
---

<Layout>
  <Title slot="head">All Posts</Title>
  <div class="p-2">
    <h1>All posts</h1>
    <PostList />
  </div>
</Layout>
