---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import FancyText from "../components/FancyText.astro";
import PostList from "../components/PostList.astro";
import ProjectList from "../components/ProjectList.astro";
---

<Layout>
  <Title slot="head">Home</Title>
  <main>
    <h1 class="text-3xl">Hi, this is Bruno ðŸ‘‹</h1>
    <section>
      <h1 class="text-xl">
        <FancyText
          fancy="I'm currently nurturing... ðŸŒ±"
          simple="Highlighted Projects ðŸŒ±"
        />
      </h1>
      <ProjectList />
    </section>
    <section>
      <h1 class="text-xl">
        <FancyText fancy="Writings... âœï¸" simple="Recent Posts âœï¸" />
      </h1>
      <PostList />
    </section>
  </main>
</Layout>
