---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import FancyText from "../components/FancyText.astro";
import PostList from "../components/PostList.astro";
import ProjectList from "../components/ProjectList.astro";
import Container from "../components/Container.astro";
---

<Layout>
  <Title slot="head">Home</Title>
  <Container>
    <main>
      <h1 class="text-3xl mt-5 mb-7">Hi, this is Bruno ðŸ‘‹</h1>
      <section class="mb-7">
        <h1 class="text-xl mb-2">
          <FancyText
            fancy="I'm currently nurturing... ðŸŒ±"
            simple="Highlighted Projects ðŸŒ±"
          />
        </h1>
        <ProjectList />
      </section>
      <section>
        <h1 class="text-xl mb-2">
          <FancyText fancy="Writings... âœï¸" simple="Recent Posts âœï¸" />
        </h1>
        <PostList />
      </section>
    </main>
  </Container>
</Layout>
