---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
---

<Layout>
  <Title slot="head">Home</Title>
  <h1 class="text-3xl font-bold underline">Hello world!</h1>
</Layout>
