---
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<ul class="flex flex-col gap-y-2">
  {
    posts.reverse().map((post) => (
      <li>
        <a
          href={`/posts/${post.slug}`}
          class="block bg-stone-300 hover:bg-slate-300 px-3 py-2 rounded-sm"
        >
          <section>
            <h1 class="text-2xl">{post.data.title}</h1>
            <p>blurb here...</p>
          </section>
        </a>
      </li>
    ))
  }
</ul>
