---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Title.astro";
import ProjectList from "../../components/ProjectList.astro";
---

<Layout>
  <Title slot="head">All Projects</Title>
  <div class="p-2">
    <h1>All Projects</h1>
    <ProjectList />
  </div>
</Layout>
